.security {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap : 20px;
    justify-content: center;
    align-items: center;

    position: relative;
}

.security * {
    box-sizing: border-box;
}


.security-area {
    width: auto;
    height: auto;
}

.security-panel {
    display: flex;
    flex-direction: column;
}
.security-panel p {
    margin: 0;
    font-size: 1.3rem;
}