@use './variables.scss' as *;

.security {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;
    
    border: 1px solid black ;
}

.security * {
    box-sizing: border-box;
}

.security p {
    position: absolute;
    top : 0px;
    font-size: inherit;
}

.security-area {
    display: block;

    width: 300px;
    aspect-ratio: 1/1;

    @include glass("black");
}