/* 전체 컨테이너 */
.circular-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* 원이 움직일 영역 */
.canvas-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 흔들릴 원 */
.draggable-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff0088;
  box-shadow: 0 10px 20px rgba(255, 0, 136, 0.3);
  cursor: grab;

  transition: background-color 0.3s ease;
}

.draggable-circle:active {
  background-color: #d60072;
}